@media screen and (max-width:1000px){

/* .nav-section .navbar{
     display: flex;
    padding: 0.2rem; 

}
.nav-section .navbar .nav{
    display: flex;
    gap: 2rem;
}
.nav-section .navbar .nav a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--secondart-color);
}
.search{
    width: 350px;
    padding: 0.2rem;
    border-radius: 10px;
    position: relative;
} */
}