@media screen and (max-width:950px){
    
.right-section .links{
    display: none;
}
}

@media screen and (max-width:850px){

.footer--container{
    padding: 1rem;
}
.footer--container .footer-content h3{
    font-size: 1.3rem;
}
.footer--container .footer-content p{
font-size: 1rem;
}
.footer--container .footer-content .list a{
    font-size: 1rem;
}
    
}

@media screen and (max-width:550px) {
    .footer--container{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .bottom-bar{
        font-size: .9rem;
        text-align: center;
    }

}
