:root{
    --primary-color:#1d1d1d;
    --Background-color:#f1e9e9;
    --container-color:#ffffff;
    --border:1px solid #a5a2a2;
    --dim-text-color:rgb(53, 52, 52);
    --button-bg-color:blue;
    --button-hover-text-color:#e6e0e0;
    --nav-section-color:rgb(123, 123, 255);
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: var(--Background-color);
}
.navbar-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:var(--nav-section-color);
    padding: 1.1rem;
    border-bottom: var(--border);
}
 .left-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    
 } 
.left-section .toggle-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3rem;
}
.left-section .toggle-bar .line{
    height: 4px;
    width: 40px;
    background-color: var(--primary-color);
    margin: 0 0 0 1rem;
}
.left-section .logo{
    font-size: 1.4rem;
    color: #fcfc1c;
}
.center-section{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.center-section .search-bar{
    display: flex;
    align-items: center;
}
.center-section .search-bar input{
    padding: .7rem 0;
    border: none;
    width: 600px;
    border-radius: 5px 0 0 5px;
}
.center-section .search-bar .inner-text{
    padding-left: 1rem;
    
}
.search-bar i{
background-color: var(--Background-color);
padding: .65rem 1rem;
border-radius: 0 5px 5px 0;
}
.center-section .mic{
    background-color: var(--Background-color);
    padding: .7rem;
    border-radius: 100%;
}
.right-section .links{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-right: 1rem;
}
.right-section .links li{
    list-style: none;
}
.right-section .links a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    border: var(--border);
    padding: 0.4rem;
    border-radius: 25px;
    transition: 340px;
}
.right-section .links a:hover{
   background-color:whitesmoke;
   
}
.main--contanier .main-section img{
    height: 350px;
    width: 100%;
    object-fit: cover;
    margin-top: 1rem;
}

.all-items{
    display: flex;
    align-items: center;
     justify-content: space-between;
     margin: 2rem 1rem 0 1rem;
     border: var(--border);
     padding: 2rem;
     background-color: var(--container-color);
     
}
.all-items p{
    padding-top: 9px;
    text-align: center;
    font-size: 1.1rem;
}
h2{
   margin-top: 1rem;
    padding: 1rem;
    border: var(--border);
    border-bottom: none;
    background-color: var(--container-color);
    font-size: 1.9rem;
    color: var(--primary-color);
}
.all-items .item{
    display: flex;
    flex-direction: column;
    transition: 240ms;
}
.all-items .item:hover{
    transform: scale(1.1,1.1);
}
.cards-section,
.card-sec-two,
.card-sec-three{
    display: flex;
    align-items: center;
    gap: 1rem;
    border: var(--border);
    padding: 2rem;
    background-color: var(--container-color);
    overflow: hidden;
    overflow-x: scroll;
    object-fit: cover;
}

.cards-section .card-item,
.card-sec-two .card-item,
.card-sec-three .card-item  {
    border: var(--border);
   transition: 234ms;
             
}
.cards-section .card-item:hover,
.card-sec-two .card-item:hover,
.card-sec-three .card-item:hover{
    transform: scale(1.1,1.1);
}

.cards-section .card-item .desc,
.card-sec-two .card-item .desc,
.card-sec-three .card-item .desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}
.footer--container{
    display: flex;
    align-items: center;
    justify-content: space-around;
      margin-top: 3rem;
    border: var(--border);
    padding: 2rem 5rem 5rem 5rem;
    width: 100%;
    background-color: var(--nav-section-color);
}
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer--container .footer-content h3{
font-size: 1.6rem;
padding-bottom: 1rem;
}
.footer--container .footer-content p{
    font-size: 1.3rem;
    text-align: justify;
    padding: .2rem;
}
.footer--container .footer-content .list li{
    list-style: none;
   
    

}

.footer--container .footer-content .list a{
    text-decoration: none;
      font-size: 1.3rem;
      color: #070707;
      transition: 240ms;
      position: relative;
      text-underline-offset: 3px;
      text-align: center;
     
    
}
.footer--container .footer-content .list a::before{
    content: "";
    position: absolute;
    height: 2px;
    background-color: #181515;
     bottom: 0; 
    transition: .5s;

    
}
.footer--container .footer-content .list a:hover::before{
    width: 60px;
    transform: scale(1.4,1.4);
}

.footer--container .footer-content .social-icons li{
    list-style: none;
    font-size: 1.3rem;
    
   
} 

.footer--container .footer-content .social-icons i{
    color: #03037e;
    transition: 250ms;
}
.footer--container .footer-content .social-icons i:hover{
    transform: scale(1.2,1.2);
}
.bottom-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
     background-color: rgb(162, 156, 248);
     font-size: 1.3rem;
     font-weight: 600;
     color: var(--primary-color);
}