:root{
    --primary-color:#5757ff;
    --secondart-color:#000000;
    --bg-color:#ffffff;
}
*{
    margin: 0;
    padding: 0;
    /* box-shadow: 0 0 0 1px red; */
    font-family:inter_regular, fallback-inter_regular, Arial, sans-serif;
}
body{
    background-color: #dfdcdc;
}
.nav-section .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(64, 64, 105);
    padding: 0.6rem;
}
.logo{
    color: yellow;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-section .navbar .nav{
    display: flex;
    gap: 2rem;
}
.nav-section .navbar .nav li{
    list-style: none;
    
}

.nav-section .navbar .nav a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondart-color);
    color: whitesmoke;
}
.fa-solid{
    color: whitesmoke;
}
 .search{
    width: 600px;
    padding: 0.7rem;
    border-radius: 10px;
    position: relative;
} 
 .fa-magnifying-glass{
    position: absolute;
    margin-left: 26.2rem;
    border: none;
    padding: 0.8rem;
    background-color: rgb(243, 166, 115);
    border-radius: 5px;
    height: 11px;
    
   
} 
  
.image{
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 1rem;  
     margin-bottom: 1rem;
}
 .main-image{
    height:400px ;
    width: 100%;
    object-fit: cover;
 }
 .card, .card1, .card2{
    max-width: 91vw;  
    margin: auto;  
} 
.card , .card1,
.card2{
    border: 1px solid rgb(158, 148, 148);
    margin: 0 1rem 2rem 1rem; 
   padding:0 1rem 2rem 1rem;
   background-color: var(--bg-color);
}
.sub-heading{
    margin: 32px 0;
    color: var(--primary-color);
}
.card-items{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(75, 74, 74);
    margin-left: 0.6rem;
     
}
.card-items:hover{
transform:scale(1.1,1.1) ;
}
 .text{
    text-align: center;
    margin: 5px 0;
    font-weight: 700;
 }
 footer{
    padding-top:50px ;
}
.footer--container{
    background-color: rgb(31, 31, 80);
    color: whitesmoke;
}

.footer--container{
     /* width: 1140px;
    margin: auto;  */
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
}
h3{
font-size: 28px;
  margin: 15px; 
text-align: center;

}
.footer-content p{
     width:190px ;
    margin: auto;
    padding: 7px; 
}
.footer-content ul{
    text-align: center;
    
}
.list{
    padding: 0;
    
}
.list li{
    width:auto ;
    text-align:center ;
    list-style:none ;
    padding: 7px;
    position: relative;
   
    
}

.list li::before{
    content: "";
    position: absolute;
    transform: translate(-50% ,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: rgb(133, 81, 255);
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align:center ;
    padding: 5px;
}
.social-icons i{
    color: whitesmoke;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
a:hover{
    color: rgb(133, 81, 255);;
}
.social-icons i:hover{
    color:rgb(133, 81, 255);;
}
.bottom-bar{
    background:rgb(133, 81, 255);;
    text-align: center;
    padding: 10px 0;
    /* margin-top: 50px; */
}
.bottom-bar p{
    color: black;
    margin: 0;
    font-size: 16px;
    padding: 7px;
} 